<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Website About Us Page HTML CSS</title>
    <link rel="stylesheet" href="../../public/css/style2.css" />
  </head>
  <body>

    <section class="about-us">
      <div class="about">
        <img src="" class="pic" />
        <div class="text">
          <h3>Thông tin sản phẩm</h3>
          <p>{id}<p>
          <p>{name}</p>
          <p>{price}</p>
          <p>{quantity}</p>

          <div class="data">
            <a href="/product" class="hire">Quay lại trang chủ</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
