
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

<!--  &lt;!&ndash;&#45;&#45;======== CSS ======== &ndash;&gt;-->
<!--  <link rel="stylesheet" href="../public/css/style1.css">-->

<!--  &lt;!&ndash;&#45;&#45;===== Iconscout CSS ===== &ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">-->
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">-->

<!--  <title>Admin Dashboard Panel</title>-->
<!--</head>-->
<!--<body>-->
<!--<nav>-->
<!--  <div class="logo-name">-->
<!--    <div class="logo-image">-->
<!--      <img src="/public/css/logo.png" alt="">-->
<!--    </div>-->

<!--    <span class="logo_name">Football Player</span>-->
<!--  </div>-->

<!--  <div class="menu-items">-->
<!--    <ul class="nav-links">-->
<!--      <li><a href="/">-->
<!--        <i class="uil uil-estate"></i>-->
<!--        <span class="link-name">Home</span>-->
<!--      </a></li>-->
<!--      <li><a href="/players">-->
<!--        <i class="uil uil-files-landscapes"></i>-->
<!--        <span class="link-name">Player List</span>-->
<!--      </a></li>-->
<!--      <li><a href="/add-player">-->
<!--        <i class="uil uil-chart"></i>-->
<!--        <span class="link-name">Add Product</span>-->
<!--      </a></li>-->
<!--    </ul>-->

<!--    <ul class="logout-mode">-->
<!--      <li><a href="#">-->
<!--        <i class="uil uil-signout"></i>-->
<!--        <span class="link-name">Logout</span>-->
<!--      </a></li>-->

<!--      <li class="mode">-->
<!--        <a href="#">-->
<!--          <i class="uil uil-moon"></i>-->
<!--          <span class="link-name">Dark Mode</span>-->
<!--        </a>-->

<!--        <div class="mode-toggle">-->
<!--          <span class="switch"></span>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<!--<section class="dashboard">-->
<!--  <div class="top">-->
<!--    <div class="search-box">-->
<!--      <form action="" method="get" id="">-->
<!--        <input type="search" name="search" placeholder="Tìm kiếm...">-->
<!--        <button type="submit" class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i></button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="dash-content">-->
<!--    <div class="overview">-->
<!--      <div class="title">-->
<!--        <i class="uil uil-tachometer-fast-alt"></i>-->
<!--        <span class="text">Danh sách cẩu thủ</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="activity">-->
<!--      {listPlayer}-->
<!--    </div>-->
<!--  </div>-->
<!--  </div>-->
<!--</section>-->

<!--<script src="../public/script1.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> C0323H1 </title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap"
        rel="stylesheet">

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="../../public/css/style3.css">
</head>

<body>
<section class="header">
  <a href="/home"><img src="../../public/css/sport.jpg" alt="logo-home" class="logo"></a>
  <div>
    <ul class="navbar">
      <li><a class="active" href="/home"> Trang chủ </a></li>
      <li><a href="#hot-product"> Sản phẩm </a></li>
      <li><a href="#"> Liên hệ </a></li>
      <li><a href="#"> Hỗ trợ </a></li>
      <li><a href="#"><i class='bx bx-shopping-bag'></i></a></li>
    </ul>
  </div>
</section>

<section class="hero">
  <div class="hero-text">
    <h4> Sale off 50% ngày 7 tháng 7 </h4>
    <h2> Chuyên cung cấp giày đá bóng chính hãng </h2>
    <h1> C0323H1 Shop </h1>
  </div>
  <div class="hero-overlay">
  </div>
</section>

<section class="feature section-p1">
  <div class="fe-box">
    <img src="" alt="">
  </div>
  <div class="fe-box">
    <img src="" alt="">
  </div>
  <div class="fe-box">
    <img src="" alt="">
  </div>
  <div class="fe-box">
    <img src="" alt="">
  </div>
</section>

<div class="slideshow-container">
  <div class="mySlides fade">
    <img src="" style="width:100%" alt="">
  </div>

  <div class="mySlides fade">
    <img src="" style="width:100%" alt>
  </div>

  <div class="mySlides fade">
    <img src="" style="width:100%" alt>
  </div>

  <div class="mySlides fade">
    <img src="" style="width:100%" alt="">
  </div>
</div>
<br>
<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
{listProduct}
<section class="product section-p1">
  <h2 id="hot-product" style="color: black; padding: 50px;"> Các mẫu giày bán chạy </h2>
  <p> Adidas || Nike || Puma || Mizuno </p>
  <div class="pro-container">
    <div class="pro">
      <img src="" alt="">
      <div class="des">
        <span> Puma </span>
        <h5> Giày đá bóng PUMA FUTURE 5.1 NETFIT MG YELLOW BLACK </h5>
        <div class="star">
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bx-star'></i>
        </div>
        <h4 style="color: black;"> 3.650.000 VNĐ </h4>
      </div>
    </div>
  </div>
</section>
<!--<script src="./../../view/js/slide.js"></script>-->
</body>

</html>